.transition-fade-enter-active {
  @apply transition-opacity duration-300 ease-in;
}

.transition-fade-leave-active {
  @apply transition-opacity duration-300 ease-in-out;
}

.transition-fade-enter-from,
.transition-fade-leave-to {
  @apply opacity-0;
}

.transition-fade-enter-to,
.transition-fade-leave-from {
  @apply opacity-100;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.3s ease;
}
.slide-left-enter-from {
  transform: translateX(100%);
}
.slide-left-enter-to {
  transform: translateX(0);
}
.slide-left-leave-from {
  transform: translateX(0);
}
.slide-left-leave-to {
  transform: translateX(-100%);
}

.slide-right-enter-from {
  transform: translateX(-100%);
}
.slide-right-enter-to {
  transform: translateX(0);
}
.slide-right-leave-from {
  transform: translateX(0);
}
.slide-right-leave-to {
  transform: translateX(100%);
}